.head
{
	border: 2px black;
	margin: 12px 12px 15px 12px;
	padding:10px;
	text-align:center;
	background-color:#639da9;
	color:white;
}
/*.column
{
	float:left;
	border: 9px white;  
	margin: 3px 3px 6px 6px;
	padding:20px;
	background-color:#639da9;
	text-align:center;
	
}*/
table {
  border:1px solid black;
  border-collapse: collapse;
  margin: none;
  padding:10px;
}
.column1{
  border: 20px black;
	margin: 12px 12px 15px 12px;
	padding:10px;
	text-align:center;
	background-color:#2c8496;
	width:50%;
}
.addd{
	text-align:center;
}


.adminReset {
	margin-left : 30px ;
	width : 200px ;
	height : 30px ;
	background-color : #4245f5 ;
	color : #ffffff ;
	border-radius : 5px ; 

}

.adminReset:hover {
	cursor : pointer ;
	background-color : #0a0da6 ;
}

